.instructor-announcements {
  display: flex;
  align-items: stretch;
  height: 100%;

  &__list {
    width: 30%;
    background-color: #f9a5a3;
  }

  &__info {
    width: 70%;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &-header {
      text-align: center;
      margin: 16px;
    }
  }

}
