.action-panel {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: #f9cbf8;
  display: flex;
  width: 100%;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    height: 15%;
    background-color: #f0bef9;

    &-title {
      padding: 8px 0 0 0;
      text-align: center;
    }
  }

  &__content {
    height: 85%;
  }

  .MuiBottomNavigation-root {
    background-color: #f0bef9;
  }

  .MuiBottomNavigationAction-root {
    max-width: none;
  }
}
