.instructor-courses-list {
  display: flex;
  padding-top: 16px;
  overflow-y: scroll;
  flex-direction: column;
  align-items: stretch;

  &__selected {
    background-color: #ff6470 !important;
  }

  &__header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
