.instructor-courses-list {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: #90caf9;
  display: flex;
  padding-top: 16px;
  overflow-y: scroll;
  flex-direction: column;
  align-items: stretch;

  &__header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
