.opinions-list {
  height: 500px;
  overflow-y: scroll;
  margin-top: 10px;
}

.opinion {
  margin: 20px 10px;
}

.opinion-title {
  font-weight: 700;
}

.opinion-content {
  background-color: #e6f2ff;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #cce6ff;
  border-radius: 10px;
}
