.courses-list {
  max-height: 500px;
  min-height: 500px;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.course-item :hover {
  background: #cccccc;
  cursor: pointer;
}

.add-course-card {
  padding: 30px;
}
